/* to set the position of the elements  */
.aiagent-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80vh;
  /* flex-shrink: 1; */
}
.chatbox {
  flex-grow: 1;
  overflow-y: auto;
}
.input-container {
  flex-grow: 0;
  height: fit-content;
}

.aiagent-container a {
  text-decoration: none;
  color: white;
}
.user {
  justify-content: flex-end;
}
.ai {
  justify-content: flex-start;
}
.user .message {
  background-color: var(--tertiary-color);
  color: #000;
}
.ai .message {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
.isTyping .message {
  background-color: var(--primary-color);
  width: 50px;
  padding-left: 20px;
}
.chat-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #ccc; /* Placeholder color */
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 8px;
}
.ai .avatar {
  background-size: cover;
}
.user .avatar {
  background-size: cover;
}

.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
/* input elements  */
/* Fixed to the bottom of the page  */

.input-container {
  background-color: white;
  width: 100%;
  margin: auto;
  /* position: absolute;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding-top: 1rem;
  box-shadow: 0px -5px 14px -6px rgba(136, 173, 181, 1);
}

.input-container textarea[type="text"] {
  width: 90%;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  height: 100px;
  border: rgb(209, 209, 209) solid 0.5px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

.input-container button {
  width: 90%;
}

/* ANIMATION FOR CHAT IS TYPING  */
.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  color: var(--tertiary-color);
  animation: dot-elastic 1s infinite linear;
}
.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  color: var(--tertiary-color);
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  color: var(--tertiary-color);
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.2);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.2);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* SECOND CHAT  */
.suggestions-container {
  display: flex;
  background-color: var(--tertiary-color);
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); */
}
.suggestions-container button {
  font-family: var(--secondary-font);
  background-color: rgb(242, 242, 242);
  border: solid 1px gray;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
  min-width: 50px;
}
.suggestions-container .clicked {
  background-color: var(--primary-color);
  color: white;
}
.suggestions-container button:hover {
  background-color: var(--primary-color);
  color: white;
}
