.getSummaryBtn {
  background-color: var(--secondary-color);
  width: 80%;
  box-shadow: 0px 3px 5px 0px gray;
}
.disabledBtn {
  background-color: rgb(128, 128, 128) !important;
  box-shadow: none;
}
.disabledBtn:hover {
  cursor: wait !important;
  background-color: rgb(128, 128, 128) !important;
}
