/* :root {
  --primary-color: #3d8aa4;
  --secondary-color: #543884;
  --tertiary-color: #e2f0f7;
  --primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --secondary-font: "Kanit", sans-serif;
} */
#header {
  font-family: Impact, sans-serif;
  height: 100px;
  padding: 1.5rem 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tertiary-color) !important;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.5);
}
#header p {
  margin: 0;
}

#header span {
  margin-right: 10px;
}
#remainingFeedbacks {
  font-size: 0.9rem;
  color: gray;
  font-family: var(--primary-font);
}
#header #header-username {
  font-family: Impact, sans-serif;
  color: var(--secondary-color);

  font-size: 1.2rem;
}
.logoutIcon-container {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: red !important;

  /* background-color: var(--secondary-color); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoutIcon-container:hover {
  cursor: pointer;
  background-color: rgb(72, 72, 72) !important;
}
.logoutIcon-container i {
  color: white;
}

.header .tooltip,
header .tooltipUsername {
  position: relative;
}

.header .tooltip .tooltipText,
.header .tooltipUsername .tooltipUsernameText {
  visibility: hidden;
  font-family: sans-serif;
  font-weight: normal;
  background-color: #c2c0c0;
  color: #010101;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText,
.tooltipUsername:hover .tooltipUsernameText {
  visibility: visible;
  opacity: 1;
}

#getAbstract {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: white;
  margin: 0;
  font-size: 0.8rem;
  position: relative;
}
#getAbstract:hover {
  background-color: var(--primary-color);
}
