/* for login/singin page  */

#login-container {
  margin: 2.5rem 0;
}

#login-container .form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: var(--secondary-font);
}

#login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
}

#login-container .form input[type="username"],
#login-container .form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-container .form button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: 1.1rem;
}
#login-container .form button:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
.error-message {
  color: rgba(255, 0, 0, 0.6);
  font-weight: bold;
  font-family: var(--secondary-font);
  margin: 1%;
  font-size: 1rem;
  padding: 1rem;
  opacity: 0;
  animation: fade-in 1s 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#message {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
}
